node_modules
HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# Dependency directories
node_modules/
/target/
/frontend/generated/

# Vaadin specific
.vaadin/
/vite.generated.js
/vite.config.js
/package-lock.json
/webpack.generated.js
/webpack.config.js
/flow-build-info.json

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# IDE specific
.idea/
.vscode/
.settings/
*.iml
*.iws
*.ipr

# Operating System Files
.DS_Store
Thumbs.db

# Build files
*.jar
*.war
*.ear

# Log files
*.log

# Secrets
*.properties
!/src/main/resources/application.properties

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/